---
import Badge from '../components/Badge.astro';
import Contact from '../components/Contact/index';
import EddBot from '../components/EddBot/index';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Section from '../components/Section.astro';
import SocialPill from '../components/SocialPill.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';
import ChatbotIcon from '../components/icons/Chatbot.astro';
import CodeIcon from '../components/icons/Code.astro';
import FileTypePdf from '../components/icons/FileTypePdf.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import MailIcon from '../components/icons/Mail.astro';
import Send from '../components/icons/Send.astro';
import Layout from '../layouts/Layout.astro';

const yearsOfExperience = new Date().getFullYear() - 2021;
const experience = `${yearsOfExperience} ${yearsOfExperience === 1 ? 'año' : 'años'}`;
---

<Layout title="Edgar Benavides - Ingeniero de Software" description={`Soy ingeniero de software con ${experience} de experiencia, especializado en el desarrollo de aplicaciones web. Domino tecnologías front-end y back-end, creando soluciones eficientes y escalables que mejoran la experiencia del usuario y optimizan los procesos empresariales.`}>
	<main>
		<Section id="about" class="pt-10 lg:pt-24 flex md:flex-row items-center gap-10 md:gap-0">
			<div>
				<div class="flex flex-col gap-4">
					<a href="/" aria-label="Return to start og this page" class="hidden lg:block">
						<img class="rounded-full min-w-12 size-12 bg-sky-500" src="/me.webp" alt="Edgar Avatar" >
					</a>
					<div class="pb-6 lg:pb-10 flex flex-row flex-wrap gap-4 font-bold">
						<h1 class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl">
							Hola, Soy Edgar
						</h1>
						<a aria-label="Connect with Edgar Benavides on LinkedIn" href="https://linkedin.com/in/edgarbenavides" target="_blank" rel="noopener" class="flex w-fit lg:justify-center items-center">
							<Badge>Disponible para colaborar</Badge>
						</a>
					</div>
				</div>
				
	
				<h2 class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white">
					<span>{experience} de experiencia.</span> <span class="text-yellow-600 dark:text-yellow-200">Ingeniero de Software.</span> <span class="text-sky-800 dark:text-sky-200">En México.</span> <span class="opacity-70">Enfocado en la creación de soluciones web.</span>
				</h2>
	
				<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPill type="primary" href="https://drive.google.com/file/d/1RwJYorFcbaSN5bUC3WzBZixhjeJ4YrwN/view?usp=sharing" aria-label="Read and download my resume">
						<FileTypePdf class="size-6" />
						CV
					</SocialPill>
					<SocialPill href="https://linkedin.com/in/edgarbenavides" aria-label="Conecta conmigo en LinkedIn">
						<LinkedInIcon class="size-6" />
						LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/Edd27" aria-label="Mira mis proyectos en GitHub">
						<GitHubIcon class="size-6" />
						GitHub
					</SocialPill>
					<SocialPill href="mailto:contacto@edgarbenavides.dev" aria-label="Envíame un correo para mas información">
						<MailIcon class="size-6" />
						contacto@edgarbenavides.dev
					</SocialPill>
				</nav>
			</div>
			<div>
				<img src="/me-funko-pop.png" alt="Figura Funko Pop de Edgar Benavides" class="w-full h-full object-contain"/>
			</div>
		</Section>

		<Section id="eddbot">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
				<ChatbotIcon class="size-7"/>
				EddBot
			</h2>
			<EddBot client:load/>
		</Section>

		<Section id="experience" class="pt-4 lg:pt-24">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
				<BriefcaseIcon class="size-7"/>
				Experiencia
			</h2>
			<Experience />
		</Section>

		<Section id="projects" class="pt-4 lg:pt-24 pb-4 lg:pb-24">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</Section>

		<Section id="contact" class="pt-4 lg:pt-24 pb-4 lg:pb-24">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
				<Send class="size-7"/>
				Contacto
			</h2>
			<Contact client:load/>
		</Section>
	</main>
</Layout>
