---
import { LINKS } from '../utils/constants'
---

<footer class="backdrop-blur-lg w-full mx-auto lg:w-[740px] pb-10">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between text-center">
    <span class="text-sm sm:text-center text-yellow-600 dark:text-yellow-200">© 2023 <a href="https://edgarbenavides.dev/" class="hover:underline">Edgar Benavides</a>.
    </span>
    <ul class="flex flex-wrap items-center justify-center lg:justify-start underline lg:no-underline gap-x-2 mt-3 text-sm font-medium opacity-80 sm:mt-0">
      {LINKS.filter(link => link.enabled).map(link => (
        <li>
          <a href={link.href} class="hover:underline">{link.name}</a>
        </li>
      ))}
    </ul>
  </div>
</footer>