---
import { Astronav, MenuIcon, MenuItems } from "astro-navbar";
import { LINKS } from '../utils/constants';
---

<header>
  <Astronav>
    <div class="w-full mx-auto lg:w-[740px] flex justify-between flex-col lg:flex-row">
      <div class="flex items-center justify-between py-5 px-4">
        <a href="/" aria-label="Return to start og this page">
          <img class="rounded-full size-12 bg-sky-500" src="/me.webp" alt="Edgar Avatar" >
        </a>
        <MenuIcon class="size-6 lg:hidden" />
      </div>
      <MenuItems class="hidden lg:flex">
        <ul class="flex flex-col lg:flex-row gap-5 py-5 px-4 lg:items-center">
          {LINKS.filter(link => link.enabled).map(link => (
            <li>
              <a href={link.href} aria-label={`Go to ${link.name} section on this page`}>{link.name}</a>
            </li>
          ))}
        </ul>
      </MenuItems>
    </div>
  </Astronav>
</header>