---
import ProjectItem from './ProjectItem.astro';

const TAGS = {
  ASTRO: {
    name: 'Astro',
    classes: 'bg-orange-500/30 opacity-80',
    icon: "Astrojs"
  },
  TAILWINDCSS: {
    name: 'Tailwind CSS',
    classes: 'bg-sky-500/30 opacity-80',
    icon: "TailwindCss"
    
  },
  REACT: {
    name: 'React',
    classes: 'bg-sky-500/30 opacity-80',
    icon: "React"
  },
  NEXT: {
    name: 'Next.js',
    classes: 'bg-white/30 opacity-80',
    icon: "Next"
  }
}

const PROJECTS = [
  {
    title: 'Viajes Lualza',
    description: 'Landing page diseñada e implementada a la medida en base a los requerimientos del cliente. Permitiendo modificar su contenido desde un panel de control con un acceso proporcionado al administrador del negocio. En colaboración con el equipo de desarrollo: <a href="https://www.linkedin.com/in/marcos-lp/" target="_blank" class="underline text-sky-800 dark:text-sky-200">Marcos Lopez</a>, <a href="https://www.linkedin.com/in/ia-grajeda/" target="_blank" class="underline text-sky-800 dark:text-sky-200">Alejandro Grajeda</a> y <a href="https://www.linkedin.com/in/martin-lara-peredo-41a5b1287/" target="_blank" class="underline text-sky-800 dark:text-sky-200">Martin Lara</a>',
    link: 'https://www.viajeslualza.com/',
    github: null,
    image: '/projects/viajes-lualza.webp',
    tags: [TAGS.REACT, TAGS.TAILWINDCSS]
  },
  {
    title: 'Admintrav',
    description: 'Panel de control para administrar el contenido de la landing page de Viajes Lualza. En colaboración con el equipo de desarrollo: <a href="https://www.linkedin.com/in/marcos-lp/" target="_blank" class="underline text-sky-800 dark:text-sky-200">Marcos Lopez</a>, <a href="https://www.linkedin.com/in/ia-grajeda/" target="_blank" class="underline text-sky-800 dark:text-sky-200">Alejandro Grajeda</a> y <a href="https://www.linkedin.com/in/martin-lara-peredo-41a5b1287/" target="_blank" class="underline text-sky-800 dark:text-sky-200">Martin Lara</a>',
    link: 'https://admintrav.vercel.app',
    github: null,
    image: '/projects/admintrav.webp',
    tags: [TAGS.TAILWINDCSS, TAGS.NEXT]
  },
  {
    title: 'Radio Alegría Moroleón',
    description: 'Aplicación web para transmisión en vivo de la estación de Radio Alegría Moroleón. Para más información acerca de la estación de radio, puedes visitar su sitio web en <a href="https://www.radiomoroleon.mx/Inicio/" target="_blank">Radio Alegría Moroleón</a>',
    link: 'https://radio.edgarbenavides.dev/',
    github: null,
    image: '/projects/radio-alegria.webp',
    tags: [TAGS.TAILWINDCSS, TAGS.NEXT]
  },
  {
    title: 'Mi aguinaldo',
    description: 'Aplicación web para calcular tu aguinaldo como empleado en México.',
    link: 'https://miaguinaldo.edgarbenavides.dev/',
    github: null,
    image: '/projects/mi-aguinaldo.webp',
    tags: [TAGS.TAILWINDCSS, TAGS.REACT]
  },
  {
    title: 'Cocktails',
    description: 'Aplicación web que te permite encontrar las recetas de tus bebidas y cocteles favoritos o descubrir nuevas.',
    link: 'https://cocktails.edgarbenavides.dev/',
    github: null,
    image: '/projects/cocktails-app.webp',
    tags: [TAGS.TAILWINDCSS, TAGS.REACT]
  },
]
---

{
  PROJECTS.map(project => (
    <ProjectItem {...project}/>
  ))
}
